# Pattern and functions of Regular Expression Assignment Questions

In [1]:
import re
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

# 1

Write a Python program to replace all occurrences of a space, comma, or dot with a colon.
Sample Text- 'Python Exercises, PHP exercises.'
Expected Output: Python:Exercises::PHP:exercises:

In [15]:
text='Python Exercise, PHP exercises.'
for line in range(1):
    result=re.sub(r'[^\w]',r':',text)
    print(result)

Python:Exercise::PHP:exercises:

# 2

Create a dataframe using the dictionary below and remove everything (commas (,), !, XXXX, ;, etc.) from the columns except words.
Dictionary- {'SUMMARY' : ['hello, world!', 'XXXXX test', '123four, five:; six...']}
Expected output-
0      hello world
1             test
2    four five six

In [18]:
dict1={'SUMMARY':['hello world!','XXXXX test','123four,five:;six...']}
df=pd.DataFrame(dict1)
df

                SUMMARY
0          hello world!
1            XXXXX test
2  123four,five:;six...

In [20]:
pattern=r'\W+|X+|\d+'
df1=df['SUMMARY'].str.replace(pattern," ")
df1

0       hello world
1               test
2     four five six
Name: SUMMARY, dtype: object

# 3

Create a function in python to find all words that are at least 4 characters long in a string.
The use of the re.compile() method is mandatory.

In [21]:
def w4(text):
    pattern=re.compile(r'\w{4,}')
    result=pattern.findall(text)
    print(result)
    
line='Mumbai Indians and Chennai Super Kings are the most successful team of the IPL.'
w4(line)

['Mumbai', 'Indians', 'Chennai', 'Super', 'Kings', 'most', 'successful', 'team']

# 4

Create a function in python to find all three, four, and five character words in a string.
The use of the re.compile() method is mandatory.

In [22]:
def three_to_five(text):
    pattern=re.compile(r'\w{3,5}')
    result=pattern.findall(text)
    print(result)

In [23]:
three_to_five(line)

['Mumba', 'India', 'and', 'Chenn', 'Super', 'Kings', 'are', 'the', 'most', 'succe', 'ssful', 'team', 'the', 'IPL']

# 5

Create a function in Python to remove the parenthesis in a list of strings.
The use of the re.compile() method is mandatory.
Sample Text: ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
Expected Output:
example.com
hr@fliprobo.com
github.com
Hello Data Science World
Data Scientist

In [54]:
def reparan(text):
    pattern=re.compile(r'[()]')
    for p in text:
        result=pattern.sub('',p)
        print(result)

In [55]:
text=['example(.com)','hr@fliprobo(.com)','github(.com)','Hello (Data Science World)','Data (Scientist)']
reparan(text)

example.com
hr@fliprobo.com
github.com
Hello Data Science World
Data Scientist

# 6

Write a python program to remove the parenthesis area from the text stored in the text file using Regular Expression.
Sample Text: ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
Expected Output: ["example", "hr@fliprobo", "github", "Hello", "Data"]
Note- Store given sample text in the text file and then to remove the parenthesis area from the text.

In [114]:
text=open('C:/Fliprobo/text1.txt','w')
text.write("'example(.com)','hr@fliprobo(.com)','github(.com)','Hello (Data Science World)','Data (Scientist)'")

98

In [115]:
text.close()

In [116]:
with open('C:/Fliprobo/text1.txt')as file:
    for line in file:
        pattern=r'\(\.\w+[)]+|\([A-Za-z\s]+[)]+'
        result=re.sub(pattern,'',line)
        print(result)

'example','hr@fliprobo','github','Hello ','Data '

# 7

Write a regular expression in Python to split a string into uppercase letters.
Sample text: “ImportanceOfRegularExpressionsInPython”
Expected Output: [‘Importance’, ‘Of’, ‘Regular’, ‘Expression’, ‘In’, ‘Python’]

In [125]:
text="ImportanceOfRegularExpressionInPython"
pattern=r'([A-Z][a-z]+)'
result=re.findall(pattern,text)
result

['Importance', 'Of', 'Regular', 'Expression', 'In', 'Python']

# 8

Create a function in python to insert spaces between words starting with numbers.
Sample Text: “RegularExpression1IsAn2ImportantTopic3InPython"
Expected Output: RegularExpression 1IsAn 2ImportantTopic 3InPython

In [168]:
def space(text):
    pattern=r'(\d[A-Za-z]+)'
    result=re.sub(pattern,r' \1',text)
    print(result)

In [156]:
pattern=r'(\d[A-Za-z]+)'
re.findall(pattern,line)

['1Is', '2ImportantTopic', '3InPython']

In [169]:
line='RegularExpression1IsAn2ImportantTopic3InPython'
space(line)

RegularExpression 1IsAn 2ImportantTopic 3InPython

# 9

Create a function in python to insert spaces between words starting with capital letters or with numbers.
Sample Text: “RegularExpression1IsAn2ImportantTopic3InPython"
Expected Output:  RegularExpression 1 IsAn 2 ImportantTopic 3 InPython

In [170]:
def spacenumdigit(text):
    pattern=r'(\d)([A-Za-z]+)'
    result=re.sub(pattern,r' \1 \2',text)
    print(result)
    
line='RegularExpression1IsAn2ImportantTopic3InPython'
spacenumdigit(line)

RegularExpression 1 IsAn 2 ImportantTopic 3 InPython

# 10

Use the github link below to read the data and create a dataframe. After creating the dataframe extract the first 6 letters of each country and store in the dataframe under a new column called first_five_letters.
Github Link-  https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv

In [171]:
df=pd.read_csv('https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv')
df.head(3)

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204

In [183]:
df['Country'].unique()

array(['Switzerland', 'Iceland', 'Denmark', 'Norway', 'Canada', 'Finland',
       'Netherlands', 'Sweden', 'New Zealand', 'Australia', 'Israel',
       'Costa Rica', 'Austria', 'Mexico', 'United States', 'Brazil',
       'Luxembourg', 'Ireland', 'Belgium', 'United Arab Emirates',
       'United Kingdom', 'Oman', 'Venezuela', 'Singapore', 'Panama',
       'Germany', 'Chile', 'Qatar', 'France', 'Argentina',
       'Czech Republic', 'Uruguay', 'Colombia', 'Thailand',
       'Saudi Arabia', 'Spain', 'Malta', 'Taiwan', 'Kuwait', 'Suriname',
       'Trinidad and Tobago', 'El Salvador', 'Guatemala', 'Uzbekistan',
       'Slovakia', 'Japan', 'South Korea', 'Ecuador', 'Bahrain', 'Italy',
       'Bolivia', 'Moldova', 'Paraguay', 'Kazakhstan', 'Slovenia',
       'Lithuania', 'Nicaragua', 'Peru', 'Belarus', 'Poland', 'Malaysia',
       'Croatia', 'Libya', 'Russia', 'Jamaica', 'North Cyprus', 'Cyprus',
       'Algeria', 'Kosovo', 'Turkmenistan', 'Mauritius', 'Hong Kong',
       'Estonia', 'Indonesia', 'Vietnam', 'Turkey', 'Kyrgyzstan',
       'Nigeria', 'Bhutan', 'Azerbaijan', 'Pakistan', 'Jordan',
       'Montenegro', 'China', 'Zambia', 'Romania', 'Serbia', 'Portugal',
       'Latvia', 'Philippines', 'Somaliland region', 'Morocco',
       'Macedonia', 'Mozambique', 'Albania', 'Bosnia and Herzegovina',
       'Lesotho', 'Dominican Republic', 'Laos', 'Mongolia', 'Swaziland',
       'Greece', 'Lebanon', 'Hungary', 'Honduras', 'Tajikistan',
       'Tunisia', 'Palestinian Territories', 'Bangladesh', 'Iran',
       'Ukraine', 'Iraq', 'South Africa', 'Ghana', 'Zimbabwe', 'Liberia',
       'India', 'Sudan', 'Haiti', 'Congo (Kinshasa)', 'Nepal', 'Ethiopia',
       'Sierra Leone', 'Mauritania', 'Kenya', 'Djibouti', 'Armenia',
       'Botswana', 'Myanmar', 'Georgia', 'Malawi', 'Sri Lanka',
       'Cameroon', 'Bulgaria', 'Egypt', 'Yemen', 'Angola', 'Mali',
       'Congo (Brazzaville)', 'Comoros', 'Uganda', 'Senegal', 'Gabon',
       'Niger', 'Cambodia', 'Tanzania', 'Madagascar',
       'Central African Republic', 'Chad', 'Guinea', 'Ivory Coast',
       'Burkina Faso', 'Afghanistan', 'Rwanda', 'Benin', 'Syria',
       'Burundi', 'Togo'], dtype=object)

In [181]:
df['Country'].value_counts().sum()

158

In [184]:
df

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176
...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726

In [197]:
pattern=r'(\w{,6})'
df['first_five_letters']=df['Country'].str.extract(pattern,expand=True)

In [205]:
df['first_five_letters'].value_counts().sum()

158

In [206]:
df['first_five_letters'].unique()

array(['Switze', 'Icelan', 'Denmar', 'Norway', 'Canada', 'Finlan',
       'Nether', 'Sweden', 'New', 'Austra', 'Israel', 'Costa', 'Austri',
       'Mexico', 'United', 'Brazil', 'Luxemb', 'Irelan', 'Belgiu', 'Oman',
       'Venezu', 'Singap', 'Panama', 'German', 'Chile', 'Qatar', 'France',
       'Argent', 'Czech', 'Urugua', 'Colomb', 'Thaila', 'Saudi', 'Spain',
       'Malta', 'Taiwan', 'Kuwait', 'Surina', 'Trinid', 'El', 'Guatem',
       'Uzbeki', 'Slovak', 'Japan', 'South', 'Ecuado', 'Bahrai', 'Italy',
       'Bolivi', 'Moldov', 'Paragu', 'Kazakh', 'Sloven', 'Lithua',
       'Nicara', 'Peru', 'Belaru', 'Poland', 'Malays', 'Croati', 'Libya',
       'Russia', 'Jamaic', 'North', 'Cyprus', 'Algeri', 'Kosovo',
       'Turkme', 'Maurit', 'Hong', 'Estoni', 'Indone', 'Vietna', 'Turkey',
       'Kyrgyz', 'Nigeri', 'Bhutan', 'Azerba', 'Pakist', 'Jordan',
       'Monten', 'China', 'Zambia', 'Romani', 'Serbia', 'Portug',
       'Latvia', 'Philip', 'Somali', 'Morocc', 'Macedo', 'Mozamb',
       'Albani', 'Bosnia', 'Lesoth', 'Domini', 'Laos', 'Mongol', 'Swazil',
       'Greece', 'Lebano', 'Hungar', 'Hondur', 'Tajiki', 'Tunisi',
       'Palest', 'Bangla', 'Iran', 'Ukrain', 'Iraq', 'Ghana', 'Zimbab',
       'Liberi', 'India', 'Sudan', 'Haiti', 'Congo', 'Nepal', 'Ethiop',
       'Sierra', 'Kenya', 'Djibou', 'Armeni', 'Botswa', 'Myanma',
       'Georgi', 'Malawi', 'Sri', 'Camero', 'Bulgar', 'Egypt', 'Yemen',
       'Angola', 'Mali', 'Comoro', 'Uganda', 'Senega', 'Gabon', 'Niger',
       'Cambod', 'Tanzan', 'Madaga', 'Centra', 'Chad', 'Guinea', 'Ivory',
       'Burkin', 'Afghan', 'Rwanda', 'Benin', 'Syria', 'Burund', 'Togo'],
      dtype=object)

In [207]:
df

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,first_five_letters
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,Switze
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,Icelan
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,Denmar
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,Norway
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,Canada
...,...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042,Rwanda
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328,Benin
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858,Syria
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302,Burund
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726,Togo

# 11

Write a Python program to match a string that contains only upper and lowercase letters, numbers, and underscores

In [209]:
line='18Virat_Kohli Hold5 the record9 of Sc0ring @+%r*u%n)s in a S1ngle seas0n @o*f The IPL'
pattern=r'\b\w\w+\b'
for p in range(1):
    result=re.findall(pattern,line)
    print(result)

['18Virat_Kohli', 'Hold5', 'the', 'record9', 'of', 'Sc0ring', 'in', 'S1ngle', 'seas0n', 'The', 'IPL']

# 12

Write a Python program where a string will start with a specific number.

In [212]:
line='18Virat_Kohli Hold5 the record9 of Sc0ring @+%r*u%n)s in a S1ngle seas0n @o*f The IPL'
pattern=r'^18\w+'
if re.match(pattern,line):
    result=re.search(pattern,line)
    print(result.string)
else:print('string does not starts with specified number')

18Virat_Kohli Hold5 the record9 of Sc0ring @+%r*u%n)s in a S1ngle seas0n @o*f The IPL

# 13

Write a Python program to remove leading zeros from an IP address

In [216]:
IP=input('enter the IP address -')
pattern=re.compile(r'0+')
if pattern.search(IP):
    result=pattern.sub('',IP)
    print(result)
else:
    print('No zeroes in IP address')

enter the IP address -192.168.0.101
192.168..11

# 14

Write a regular expression in python to match a date string in the form of Month name followed by day number and year stored in a text file.
Sample text :  ' On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country’.
Expected Output- August 15th 1947
Note- Store given sample text in the text file and then extract the date string asked format.

In [217]:
file=open('C:/Fliprobo/text2.txt','w')

In [218]:
file.write('On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country')

153

In [219]:
file.close()

In [224]:
with open('C:/Fliprobo/text2.txt') as file:
    pattern=re.compile(r'\b([A-Z][a-z]+)\s(\d{2}th)\s(\d{4})\b')
    for line in file:
        result=pattern.search(line)
        print(result.group())

August 15th 1947

# 15

Write a regular expression in python to match a date string in the form of Month name followed by day number and year stored in a text file.
Sample text :  ' On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country’.
Expected Output- August 15th 1947
Note- Store given sample text in the text file and then extract the date string asked format.

In [232]:
text='The quick brown fox jumps over the lazy dog'
pattern=r'fox|dog|horse'
if re.findall(pattern,text):
    result=re.finditer(pattern,text)
    for w in result:
        print(w.group())
else:
    print('given word is not the string')

fox
dog

# 16

Write a Python program to search a literals string in a string and also find the location within the original string where the pattern occurs
Sample text : 'The quick brown fox jumps over the lazy dog.'
Searched words : 'fox'

In [237]:
text='The quick brown fox jumps over the lazy dog.'
pattern=r'fox'
if re.findall(pattern,text):
    result=re.search(pattern,text)
    print('Word Matched')
    print('Location -',result.start())
else:
    print('word not found')

Word Matched
Location - 16

# 17

Write a Python program to find the substrings within a string.
Sample text : 'Python exercises, PHP exercises, C# exercises'
Pattern : 'exercises'.

In [236]:
text='Python exercises, PHP exercises,C#exercises'
pattern='exercises'
if re.search(pattern,text):
    print(re.findall(pattern,text))
else:print('word not found')

['exercises', 'exercises', 'exercises']

# 18

Write a Python program to find the occurrence and position of the substrings within a string.

In [238]:
text='In IPL 2016 Virat Kohli win the orange cap by scoring 973 runs. David warner was on second place with 848 runs'
pattern=r'\d+'
result=re.finditer(pattern,text)
for subs in result:
    print('substring-',subs.group())
    print('substring occurence-',subs.span())

substring- 2016
substring occurence- (7, 11)
substring- 973
substring occurence- (54, 57)
substring- 848
substring occurence- (102, 105)

# 19

Write a Python program to convert a date of yyyy-mm-dd format to dd-mm-yyyy format.

In [250]:
date='2024-04-02'
pattern=r'(\d{4})-(\d{2})-(\d{2})'
for d in range(1):
    result=re.sub(pattern,r'\3-\2-\1',date)
    print(result)

02-04-2024

# 20

Create a function in python to find all decimal numbers with a precision of 1 or 2 in a string. The use of the re.compile() method is mandatory.
Sample Text: "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"
Expected Output: ['01.12', '145.8', '3.01', '27.25', '0.25']

In [239]:
def decimal(text):
    pattern=re.compile(r'\b\d+\.\d{1,2}\b')
    result=pattern.findall(text)
    print(result)

In [240]:
string='01.12 0132.123 2.31875 145.8 3.01 27.25 0.25'
decimal(string)

['01.12', '145.8', '3.01', '27.25', '0.25']

# 21

Write a Python program to separate and print the numbers and their position of a given string.

In [253]:
lis=[1,2,3,4,5]
lis.index(2)

1

In [260]:
text='Rohit Sharma scored the highest indivisual score in odis 264 in 173 balls with the SR of 152 against srilanka in 2013. He smashed 33 fours and 9 sixes in this inning'
pattern=re.compile(r'\d+')
result=pattern.finditer(text)
for di in result:
    print('numbers in string:-',di.group(), 'and their location -',di.span())

numbers in string:- 264 and their location - (57, 60)
numbers in string:- 173 and their location - (64, 67)
numbers in string:- 152 and their location - (89, 92)
numbers in string:- 2013 and their location - (113, 117)
numbers in string:- 33 and their location - (130, 132)
numbers in string:- 9 and their location - (143, 144)

In [262]:
b=di.group()
b

'9'

# 22

Write a regular expression in python program to extract maximum/largest numeric value from a string.
Sample Text:  'My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'
Expected Output: 950

In [263]:
text='My marks in each semester are: 947,896,926,524,734,950'
pattern=r'\d+'
for digit in range(1):
    result=re.findall(pattern,text)
    print(max(result))

950

# 23

Create a function in python to insert spaces between words starting with capital letters.
Sample Text: “RegularExpressionIsAnImportantTopicInPython"
Expected Output: Regular Expression Is An Important Topic In Python

In [268]:
def sp(text):
    pattern=r'([A-Z][a-z]+)'
    result=re.sub(pattern,r' \1',text)
    print(result)

In [269]:
string='RegularExpressionIsAnImportantTopicInPython'
sp(string)

 Regular Expression Is An Important Topic In Python

# 24

Python regex to find sequences of one upper case letter followed by lower case letters

In [270]:
text='Virat Kohli Scored 973 runs in single Season of The I.pl2016'
pattern=r'[A-Z][a-z]+'
result=re.findall(pattern,text)
print(result)

['Virat', 'Kohli', 'Scored', 'Season', 'The']

# 25

Write a Python program to remove continuous duplicate words from Sentence using Regular Expression.
Sample Text: "Hello hello world world"
Expected Output: Hello hello world

In [273]:
text='Hello hello world world'
pattern=r'(\w+)(?:\W+\1\b)+'
print(re.sub(pattern,r'\1',text)) if re.findall(pattern,text) else print('No continuous duplicate words')

Hello hello world

# 26

Write a python program using RegEx to accept string ending with alphanumeric character.

In [280]:
text='Virat Kohli Scored 973 runs in single Season of The IPl2016'
pattern=r'^\w+.*[A-Za-z]+[0-9]+$'
if re.search(pattern,text):
    print('String accepted')
else:
    print('String not accepted')

String accepted

# 27

Write a python program using RegEx to extract the hashtags.
Sample Text:  """RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""
Expected Output: ['#Doltiwal', '#xyzabc', '#Demonetization']

In [285]:
text='''RT @kapil_kaushik: #Doltiwal I mean #xyzabc is 'Hurt' by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed>U+00B1><U+0089> 'acquired funds' No wo'''
pattern=r'#\w+'
for hashtag in range(1):
    result=re.findall(pattern,text)
    print(result)

['#Doltiwal', '#xyzabc', '#Demonetization']

# 28

Write a python program using RegEx to remove <U+..> like symbols
Check the below sample text, there are strange symbols something of the sort <U+..> all over the place. You need to come up with a general Regex expression that will cover all such symbols.
Sample Text: "@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders"
Expected Output: @Jags123456 Bharat band on 28??<ed><ed>Those who  are protesting #demonetization  are all different party leaders

In [286]:
text='@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who are protesting#demonetization are all different party leaders'
pattern=r'<U\+0{2}\w+>'
for i in range(1):
    result=re.sub(pattern,'',text)
    print(result)

@Jags123456 Bharat band on 28??<ed><ed>Those who are protesting#demonetization are all different party leaders

# 29

Write a python program to extract dates from the text stored in the text file.
Sample Text: Ron was born on 12-09-1992 and he was admitted to school 15-12-1999.
Note- Store this sample text in the file and then extract dates.

In [287]:
file=open('C:/Fliprobo/text3.txt','w')
file.write('Ron was born on 12-09-1992 and he was admitted to school 15-12-1999.')
file.close()

In [289]:
with open('C:/Fliprobo/text3.txt') as textfile:
    for line in textfile:
        result=re.findall(r'\d{2}-\d{2}-\d{4}',line)
        print(result)

['12-09-1992', '15-12-1999']

# 30

Create a function in python to remove all words from a string of length between 2 and 4.
The use of the re.compile() method is mandatory.
Sample Text: "The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."
Expected Output:  following example creates ArrayList a capacity elements. 4 elements added ArrayList ArrayList trimmed accordingly.

In [290]:
def remove(text):
    pattern=re.compile(r'\b\w{2,4}\b')
    result=pattern.sub('',text)
    print(result)

In [291]:
line='The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly'
remove(line)

 following example creates  ArrayList  a capacity   elements. 4 elements   added   ArrayList   ArrayList  trimmed accordingly